/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    display: block;
    margin: 0 auto;
    background-color: var(--blue2);
    color: var(--lightGray2);
    cursor: pointer;
    padding: 18px 0;
    width: 95%;
    font-size: 4em;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-top: 20px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--blue3);
    color: var(--lightGray1);
  }

  .ui-accordion-header {
      font-weight: 500;
  }

  /* jQuery override for the color of the buttons */
  .ui-accordion-header.ui-state-active{
    color: var(--lightGray1) !important;
    background-color: var(--blue4) !important;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .accordionPanel {
    margin: 0 auto;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    background-color: var(--blue3);
    display: none;
  }