.attending{
    border: 1px solid var(--weekdayColor) !important;
    color: var(--LightTextColor) !important;
    background: var(--weekdayColor) !important;
}

.studentsList{
    display: block;
}

.imageContainer{
    text-decoration: none;
}

.addStudent{
    background: var(--adminColor) !important;
    filter: brightness(120%);
    box-shadow: 0px 0px 4px 1px var(--adminColor);
}

.addStudent table{
    opacity: 0;
}

/* Overlay for the Add Student plus sign thing in the list.
   This styles it to fit the list item. */
.addStudentOverlay{
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.1s;
    transition: 0.1s all;
}

/* The big plus sign for the AddStudent list item */
.plusIcon{
    line-height: 100%;
    transition: 0.1s all;
    text-decoration: none;
    color: var(--LightTextColor);
    font-size: 20em;
    font-weight: 700;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Mobile friendly stuff */
@media screen and (max-width: 1200px){
    /* Makes the student listings smaller */

    .blockList{
        margin-bottom: 0 !important;
    }

    .studentsList li{
        width: 28% !important;
    }

    .plusIcon{
        font-size: 20em;
    }

    .addStudentOverlay:hover .plusIcon{
        font-size: 42vw;
    }

    .studentsList td{
        font-size: 4vw !important;
    }
}

/* Hides the checkmark since we don't need it on the admin page */
.checkMarkOverlay{ display: none; }
.checkMark{ display: none; }

/* Automatically shows the blockLists since the jQuery accordion handles this */
.blockList{
    display: flex !important;
  }

.addActivity{
    background: var(--adminColor) !important;
}

.addActivity p{
    color: var(--LightTextColor) !important;
}