body{
    background: var(--lightGray1) !important;
}

.week{
    color: var(--weekdayText);
    padding: 0;
    margin: 0;
    list-style: none;
    display: block !important;
    margin-top: 15px;
    width: 100%;
}

.week li{
    width: 15px;
    display: inline-block;
    background: var(--darkGray2);
    border: 1px solid var(--darkGray2);
    border-radius: 0px;
    margin: 2px;
    padding: 10px;
}

.attending{
    border: 1px solid var(--weekdayColor) !important;
    color: var(--lightGray1) !important;
    background: var(--weekdayColor) !important;
}

.studentsList{
    display: block;
}

.imageContainer{
    text-decoration: none;
}

.addStudent{
    background: var(--adminColor) !important;
}

.addStudent table{
    opacity: 0;
}

.addStudentOverlay{
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: 0.1s;
    background-color: var(--selectedStudentColor);
    box-shadow: 0px 0px 4px 1px var(--adminColor);
    background: var(--lightGray2) !important;
    opacity: 0.8 !important;
    transition: 0.1s all;
}

.addStudentOverlay:hover{
    opacity: 1 !important;
    box-shadow: 0px 0px 5px 2px var(--adminColor);
    padding: 2px;
    margin: -2px;
    background: var(--lightGray1) !important;
}

.addStudentOverlay:hover .plusIcon{
    color: var(--adminColor) !important;
    font-size: 20em;
    line-height: 100%
}

.plusIcon{
    line-height: 100%;
    transition: 0.1s all;
    text-decoration: none;
    color: var(--darkGray3);
    font-size: 20em;
    font-weight: 700;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 1200px){
    .studentsList li{
        width: 28% !important;
    }

    .plusIcon{
        font-size: 40vw;
    }

    .addStudentOverlay:hover .plusIcon{
        font-size: 42vw;
    }

    .studentsList td{
        font-size: 4vw !important;
    }
}

.checkMarkOverlay{
    display: none;
}

.checkMark{
    display: none;
}

.blockList{
    display: block !important;
  }

.activitiesList .studentContainer p{
    font-size: 2em !important;
}

.activitiesList li{
    width: 20% !important;
}

.activitiesList .studentContainer a{
    padding: 20px;
    font-size: 2em;
}

.addActivity{
    background: var(--adminColor) !important;
    color: var(--lightGray1) !important;
}