
.birthdayContainer{
    position: relative;
    width: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.birthdayContainer .birthdayList{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.birthdayContainer .birthdayList li{
    text-align: left;
    display: none;
    background: var(--lightGray1);
    border: 1px solid var(--lightGray3);
    position: absolute;
    width: 100%;
    top: 0;
    padding: 5px 0px 5px 5px;
    cursor: pointer;
}

.birthdayContainer .birthdayList li:hover{
    background: var(--blue1);
}

.birthdayContainer .birthdayList .selectedValue{
    overflow: hidden;
    display: block;
    background: none;
}

.birthdayContainer .birthdayList .show{
    display: block;
}

.birthdayContainer .selectedValue:after{
    content: '>';
    transform: rotate(90deg);
    display: block !important;
    position: absolute;
    pointer-events: none;
    right: 0;
    margin: 0;
    top: 0;
    font-size: 20px;
    font-weight: 700;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--lightGray2);
    background: var(--blue2);
    height: 100%;
}
