/* List container for the students. 
    Removes default list style and sets width. */
.blockList{
    display: none;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Image in each listing with border around it */
.blockList img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #494949;
    width: 100%;
}

.blockList table{
    border-spacing: 20px 20px;
}

/* This is the actual student listing itself,
   which contains multiple elements */
.blockList li {
    transition: box-shadow 0.1s !important;
    transition: opacity 0.2s ease-in;
    background: var(--lightGray1);
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    width: 250px;
    text-align: center;
    box-shadow: inset 0px 0px 0px var(--darkGray1);
}

.blockList li:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: inset 0px 0px 3px var(--darkGray1);
}

/* On small screens, show three students per row */
@media screen and (max-width: 1200px) {
    .blockList li { 
        width: 28%; 
        font-size: 3vw;
    } 
    
    .activitiesList li{
        width: 90% !important;
    }

    .selectionButtons a{
        padding: 15vh 0px 15vh 0px !important;
    }
}

.blockList th{
    column-span: 2;
}

.blockList td{
    color: var(--darkGray4);
    font-size: 1.7em;
}

.selectedStudent{
    background-color: var(--lightGray3) !important;
    box-shadow: inset 0px 0px 6px 3px var(--darkGray1) !important;
}

.studentContainer{
    position: relative;
    width: 100%;
}

/* Green overlay that's displayed when a student is selected */
.checkmarkOverlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.1s;
    background-color: var(--selectedStudentColor);
  }

  .selectedStudent .checkmarkOverlay{ opacity: 0.3; }

  /* The checkmark that's displayed over selected students */
  .checkmark {
    text-decoration: none;
    color: white;
    font-size: 10em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .selectionButtons{
      display: block;
      list-style: none;
      margin: 0;
      margin-top: 50px !important;
      width: 100%;
      padding: 0;
      text-align: center;
  }

  .selectionButtons li{
    display: inline-block;
    width: 80%;
    margin-bottom: 30px;
  }

  .selectionButtons a{
    transition: 0.1s all;
    color: var(--lightGray1);
    background: var(--darkGray2);
    font-size: 6em;
    padding: 10vh 0px 10vh 0px;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  .selectionButtons a:hover{
      box-shadow: inset 0px 0px 10px 2px var(--darkGray1) !important;
      opacity: 0.9;
  }

  #studentButton{
      background: var(--studentsColor);
  }

  #activitiesButton{
    background: var(--tasksColor);
  }

  .activitiesList .studentContainer p{
      padding: 20px;
      margin: 0;
      font-size: 3em !important;
      color: var(--darkGray3);
  }

 .activitiesList li{
      width: 40%;
  }