/* This is the class for the styling of a list, where each list
item is a "block" with content in it.
HTML Format:

<ul class="blockList">
    <li onclick="selectedStudent"> // onlick if you want it to be selectable
        <div class="blockContainer">
            << anything can go here >>
            
            // add this div only if you want the list item to have
            // a checkmark displayed over it when selected.
            // this should be paired with the selectedStudent() function
            // that's in the studentSelection.js file.
            <div class="checkmarkOverlay">
                <a class="checkmark">&#10003</a>
            </div>
        </div>
    </li>
</ul>

*/


/* List container for the students. 
    Removes default list style and sets width. */
.blockList{
    display: none;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;
    list-style: none;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

/* Image in each listing with border around it */
.blockList img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #494949;
    width: 100%;
}

.blockList table{
    border-spacing: 20px 20px;
}

/* This is the actual listing itself,
   which contains multiple elements */
.blockList li {
    position: relative;
    transition: box-shadow 0.1s !important;
    transition: opacity 0.2s ease-in;
    background: var(--LightContentBackground);
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    max-width: 250px;
    text-align: center;
    box-shadow: inset 0px 0px 0px var(--darkGray1);
}

.blockList li:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: inset 0px 0px 3px var(--darkGray1);
}

/* On small screens, show three students per row */
@media screen and (max-width: 1200px) {
    .blockList{
        margin-bottom: 210px;
    }
    .blockList li { 
        max-width: 38%; 
        font-size: 2.5vw;
    } 
    .name{
        font-size: 2vw;
    }
    .activitiesList li{
        width: 90% !important;
        max-width: 90% !important;
    }

    .selectionButtons li{width: 90% !important;}

    .selectionButtons a{
        padding: 15vh 30px 15vh 30px !important;
    }

    /* Size of Activities text */
    .activitiesList .blockContainer p{
        font-size: 8vw !important;
    }
}

.blockList th{
    column-span: 2;
}

.name{
    color: var(--DarkTextColorLight);
    font-size: 1.8em;
}

/* This is called when a student is selected 
   on the tracking page */
.selectedStudent{
    position: relative;
    background-color: var(--LightTextColorDark) !important;
    box-shadow: inset 0px 0px 6px 3px var(--darkGray3) !important;
}

/*  */
.blockContainer{
    position: relative;
    width: 100%;
}

/* Green overlay that's displayed when a student is selected */
.checkmarkOverlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.1s;
    background-color: var(--ThemeColor2Light);
  }

  .selectedStudent .checkmarkOverlay{ opacity: 0.3; }

  /* The checkmark that's displayed over selected students */
  .checkmark {
    text-decoration: none;
    color: white;
    font-size: 10em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* Students and Activities buttons on the tracking page. */
  .selectionButtons{
      display: block;
      list-style: none;
      margin: 0;
      margin-top: 50px !important;
      width: 100%;
      padding: 0;
      text-align: center;
  }

  /* Each li is the container for the button */
  .selectionButtons li{
    display: inline-block;
    width: 60%;
    margin-bottom: 30px;
  }

  /* This is the button itself */
  .selectionButtons a{
    transition: 0.1s all;
    color: var(--LightTextColor);
    font-size: 70px;
    padding: 10vh 10px 10vh 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }

  .selectionButtons a:hover{
      box-shadow: inset 0px 0px 10px 2px var(--darkGray1) !important;
      opacity: 0.9;
  }


  /* Makes the text for the activity look better */
  .activitiesList .blockContainer p{
      padding: 20px;
      margin: 0;
      font-size: 3vw;
      color: var(--DarkTextColorLight);
  }

  /* Shows less Activities per row since the text is on one line */
 .activitiesList li{
      width: 40%;
      max-width: 40%;
  }

  