/* <a id="checkbox1" class="checkbox" onclick="checkboxSelected(this)"></a>

  To see if checkbox is selected:
  if(document.getElementById("checkbox1").classList.contains(" checkboxSelected")){
    checkbox is selected, do something
  }
*/

/* Border will be the opposite color of its parent */

.checkBox{
    --width: 22px;
    --height: 22px;
    outline: none;
    width: var(--width);
    height: var(--height);
    align-self: center;
    padding: 0;
    border-radius: 50%;
    border: 2px solid var(--lightGray1);
    margin: 0px 30px 0px 0px;
    text-align: center;
    filter: invert();
    opacity: 0.7;
    font-weight: 700;
    text-align: center;
}

/* because adding "active" to the classlist doesn't work */
.checkboxSelected{
    filter: none;
    background: var(--blue2);
    border: none;
    width: calc(var(--width) + 4px); /* make up for no border */
    height: calc(var(--height) + 4px);
    opacity: 1;
}

/* checkmark */
.checkboxSelected::after{
    width: calc(var(--width));
    visibility: visible !important;
    content: "✔";
    color: white;
}

.checkBox:hover{
    cursor: pointer;
}

/* Style for when clicked */
.checkBox:active{
    filter: none;
    background: var(--blue2);
    border: none;
    width: calc(var(--width) + 4px);
    height: calc(var(--height) + 4px);
    opacity: 1;
}

.checkBox:active::after{
    width: calc(var(--width));
    visibility: visible !important;
    content: "✔";
    color: white;
}