.customTable{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

.customTable thead th{
    background: var(--reportsColorDark);
    color: var(--lightGray1);
    font-size: 2.2em;
    padding: 10px 0;
    font-weight: 500;
}

.customTable tbody tr:nth-child(even){
    background: var(--lightGray3);
}

.customTable td{
    vertical-align: top;
    font-size: 1.2em;
    padding: 10px;
}

.customTable tr{
    color: var(--darkGray2);
    background: var(--lightGray2);
    border: 2px solid var(--darkGray3);
}