/* Custom dropdown that uses <div> and <a> tags 
Must include:
        <script src="/javascripts/utilityScripts.js"></script> 
        
    HTML Format:

    <div id="" class="dropdown">
        <a class="selectedOption" onclick="selectedOption(this)">Option 1</a>
        <a onclick="selectedOption(this)">Option 2</a>
        <a onclick="selectedOption(this)">Option 3</a>
        <div class="arrow"><i class="fas fa-chevron-down"></i></div>
    </div>
*/


.dropdown {
    position: relative;
    display: inline-block;
    width: 10vw;
}

.dropdown a{
    width: 100%;
    display: none;
    position: absolute;
    text-decoration: none;
    background: var(--lightGray2);
    color: var(--darkgray3);
    padding: 6px 0 6px 10px;
    margin-left: -10px;
    font-size: 1.5em;
}

.dropdown a:hover{
    cursor: pointer;
    background: var(--blue1);
    color: var(--lightGray1);
}

.dropdown .activeOption{
    display: block;
    cursor: pointer;
    padding: 10px;
    box-shadow: inset 0px 0px 2px var(--darkGray2);
    border-radius: 8px;
}

.dropdown .selectedOption{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block !important;
    top: 0px;
    background: var(--blue1);
    color: var(--lightGray1);
}


.showOption{
    display: block !important;
}

.dropdown .arrow{
    position: absolute;
    pointer-events: none;
    right: 0;
    font-size: 1.5em;
    margin: 0;
    padding: 6px 10px 6px 10px;
    text-align: center;
    color: var(--lightGray2);
    background: var(--blue2);
}

.dropdown .arrowRotated{
    transform: rotate(180deg);
}