.customTable{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(0px 3px 2px var(--darkGray3));
}

.customTable thead th{
    border: none;
    background: var(--accentColor2);
    color: var(--lightGray2);
    font-size: 2.2em;
    padding: 10px 0;
    font-weight: 500;
}

.customTable thead tr{
    background: none;
    border: none;
}

.customTable td{
    vertical-align: top;
    font-size: 1.2em;
    padding: 10px;
}

.customTable tr{
    color: var(--darkGray2);
    background: var(--lightGray1);
    border-bottom: 3px solid var(--darkGray3);
}

.customTable tr:last-child{
    border-bottom: none;
}



