.emailerContainer{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.emailerContainer .approveButton{
    position: absolute;
    right: 0;
    top: 50%;
    background: red;
    padding: 10px 20px;
}

.emailerContainer .sideButton{
    display: flex;
    width: 5%;
    padding: 0px 10px;
    font-size: 7vw;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.emailerContainer .sideButton i{
    transition: font-size 0.2s ease-in-out;
    color: var(--lightGray3);
}

.emailerContainer .sideButton i:hover{
    font-size: 10vw;
}

.emailerContainer .sideButton i:active{
    font-size: 10vw;
}

#stepTwoTitle{
    margin: 0;
}

.centeredElement{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.stepButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    min-width: 150px;
    height: 50px;
    align-self: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -1px 2px 4px var(--darkGray4);
}

.stepButton:hover{
    cursor: pointer;
}

.stepButton:active{
    filter: brightness(95%);
    box-shadow: -1px 1px 2px var(--darkGray4);
}

.stepButton p{
    margin: 0;
    flex-grow: 2;
    font-size: 18px;
    color: white;
    padding-left: 10%;
}

.stepButton i{
    font-size: 20px;
    line-height: 80px;
    color: white;
}

.stepButton .buttonIcon{
    width: 40%;
    text-align: center;
}

.bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    margin-top: 50px;
}

.bottomSection .verticalList{
    width: 50%;
}

.verticalList{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.verticalList li{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the Second step - 
    Adding/approving each student's information to their emails */
.stepTwo {
    display: none;
    margin: 0 auto;
    justify-content: space-around;
}

.stepTwo .leftPanel{
    box-shadow: 0px 0px 10px var(--darkGray1);
    background: var(--lightGray2);
    width: 68%;
    border-radius: 10px;
}

.stepTwo .rightPanel{
    box-shadow: 0px 0px 10px var(--darkGray1);
    background: var(--lightGray2);
    padding: 15px;
    width: 25%;
    overflow: hidden;
    border-radius: 10px;
}

.studentsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.studentsList li{
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    padding: 6px 0px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5em;
    background: var(--lightGray3);
    color: var(--darkgray2);
    align-items: center;
}

/* Student is selected in the studentsList */
.studentsList .selected {
    background: var(--accentColor1Light);
    color: var(--lightGray1) !important;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

.addReminder{
    outline: none;
    border: none;
    background: none;
    color: var(--green3);
    font-size: 40px;
}

/* Student's email was approved */
.approved{
    background: var(--accentColor2Light) !important;
    color: var(--lightGray1) !important;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

.activitiesList{
    margin: 0 20px;
    padding: 20px;
    display: flex;
    border-radius: 3px;
    border: 1px solid var(--green3);
    background: #d7d7d7;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

.activitiesList li{
    padding: 4px 15px;
    background: var(--blue3);
    border-radius: 20px;
    font-size: 1em;
    color: var(--lightGray1);
    margin-right: 10px;
}

.twoColumns{
    display: flex;
    justify-content: space-between;
}

.listTitle{
    position: relative;
    text-align: center;
    width: 90px;
    margin: 0;
    margin-left: 20px;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 6px;
    color: var(--darkGray3);
}

@media screen and (max-width: 1200px){
    .contentWithSidebar .sidebar{
        margin-bottom: 40px;
        width: 90%;
        align-self: center !important;
    }

    .emailerContainer .studentsList{
        flex-direction: row;
    }

    .contentWithSidebar{
        flex-direction: column-reverse !important;
        justify-items: center !important;
        align-items: center !important;
    }

    .contentWithSidebar .content{
        width: 90% !important;
    }
}