.emailerContainer{
    width: 85%;
    margin: 0 auto;
}

.emailerContainer .title{
    font-size: 3em;
    padding: 30px;
    margin-top: 0;
    background: var(--yellow3);
    color: var(--lightGray1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
}

#stepTwoTitle{
    background: var(--blue1);
    margin-bottom: 20px;
}

.centeredElement{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
}

.nextStepButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 80px;
    background: var(--green2);
    align-self: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: -1px 2px 4px var(--darkGray4);
}

.nextStepButton:hover{
    cursor: pointer;
}

.nextStepButton:active{
    filter: brightness(95%);
    box-shadow: -1px 1px 2px var(--darkGray4);
}

.nextStepButton p{
    margin: 0;
    flex-grow: 2;
    font-size: 2.3em;
    color: white;
    padding-left: 30px;
}

.nextStepButton i{
    font-size: 60px;
    line-height: 80px;
    color: white;
}

.nextStepButton .buttonIcon{
    background: var(--green3);
    width: 40%;
    text-align: center;
}

.stepOne{
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--darkGray1);
    background: var(--lightGray2);
    width: 100%;
}

.bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
    margin-top: 50px;
}

.bottomSection .verticalList{
    width: 50%;
}

.verticalList{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.verticalList li{
    margin-bottom: 30px;
    align-self: stretch;
    justify-items: stretch;
}

/* Styling for the Second step - 
    Adding/approving each student's information to their emails */
.stepTwo {
    display: none;
    margin: 0 auto;
    justify-content: space-around;
}

.stepTwo .leftPanel{
    box-shadow: 0px 0px 10px var(--darkGray1);
    background: var(--lightGray2);
    width: 68%;
    border-radius: 10px;
}

.stepTwo .rightPanel{
    box-shadow: 0px 0px 10px var(--darkGray1);
    background: var(--lightGray2);
    padding: 15px;
    width: 25%;
    overflow: hidden;
    border-radius: 10px;
}

.studentsList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.studentsList li{
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    padding: 6px 0px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5em;
    background: var(--lightGray3);
    color: var(--darkgray2);
    align-items: center;
}

/* Student is selected in the studentsList */
.selected {
    background: var(--blue1) !important;
    color: var(--lightGray1) !important;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

/* Student's email was approved */
.approved{
    background: var(--green3) !important;
    color: var(--lightGray1) !important;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

.activitiesList{
    margin: 0 20px;
    padding: 20px;
    display: flex;
    border-radius: 3px;
    border: 1px solid var(--green3);
    background: #d7d7d7;
    box-shadow: inset 0px 0px 4px var(--darkGray3);
}

.activitiesList li{
    padding: 4px 10px;
    background: var(--red2);
    border-radius: 20px;
    font-size: 1em;
    color: var(--lightGray1);
    margin-right: 10px;
}

.twoColumns{
    display: flex;
    justify-content: space-between;

}

.listTitle{
    position: relative;
    text-align: center;
    width: 90px;
    margin: 0;
    margin-left: 20px;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 6px;
    color: var(--darkGray3);
}
