
/* <ul> list of buttons/components in the footer */
.studentFooter{
    position: fixed;
    justify-content: center;
    align-content: center;
    left: 200px;
    right: 0;
    width: calc(100% - 200px);
    max-width: 100%;
    bottom: 0;
    list-style-type: none;
    text-align: center;
}

/* Each actual component, probably a button */
.studentFooter li{
    display: none;
    transition: opacity 0.2s ease-in-out;
}

/* Actual button for the footer */
.studentFooter a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    justify-self: stretch;
    padding: 12px 80px;
    color: var(--LightTextColor);
    margin: auto;
}

@media screen and (max-width: 1200px){
    .studentFooter{
        padding-bottom: 0;
        margin: 0;
        width: 100%;
        left: 0;
    }

    .studentFooter a{
        padding: 4vh 0 4vh 0;
    }

    /* Make the big footer buttons full width on small screens */
    .studentFooter .twoButtons a{
        font-size: 100px !important;
        padding: 30px 0 30px 0;
        width: 50%;
    }

    .studentFooter li{
        margin: 0;
        width: 100%;
    }

    .studentFooter .noClick{ 
        width: 40vw !important;}
}

.studentFooter a:hover{
    filter: brightness(110%);
}

.studentFooter .noClick{
    color: var(--LightTextColorDark);
    cursor: default; 
    border-right: 3px solid var(--darkGray2);
}

.studentFooter .noClick:hover{ filter: none;}

.noClick:hover{background-color: var(--DarkTextColorLight) !important;}