
.studentFooter{
    /* -- Remove default ul styling -- */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0px;
    /* ------------------------------ -*/

    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    list-style-type: none;
    text-align: center;
    padding-bottom: 40px;
}

.studentFooter li{
    display: inline;
    transition: opacity 0.2s ease-in-out;
}

/*<span class="arrow">&#10132</span>*/
.studentFooter a{
    position: relative;
    text-decoration: none;
    display: none;
    font-size: 3em;
    width: 30vw;
    padding: 12px 80px;
    color: var(--lightGray1);
    background-color: var(--studentsColor);
}

.studentFooter a:hover{
    background-color: var(--studentsColor);
}

.studentFooter a:active{
    background-color: var(--footerNextHoverColor);
}

@media screen and (max-width: 1200px){
    .studentFooter{
        padding-bottom: 0;
    }

    .studentFooter a{
        font-size: 10vw;
        padding: 4vh 0 4vh 0;
        width: 100%;
    }
    .studentFooter a:hover{
        font-size: 10.1vw;
    }
}