
/* <ul> list of buttons/components in the footer */
.studentFooter{
    position: fixed;
    justify-content: center;
    align-content: center;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    list-style-type: none;
    text-align: center;
    padding-bottom: 40px;
}

/* Each actual component, probably a button */
.studentFooter li{
    display: none;
    transition: opacity 0.2s ease-in-out;
}

/* Actual button for the footer */
.studentFooter a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    justify-self: stretch;
    padding: 12px 80px;
    color: var(--lightGray1);
}

@media screen and (max-width: 1200px){
    .studentFooter{
        padding-bottom: 0;
        margin: 0;
    }

    /* Make the big footer buttons full width on small screens */
    .studentFooter .twoButtons a{
        font-size: 8vw;
        padding: 4vh 0 4vh 0;
        width: 50%;
    }

    .studentFooter li{
        margin: 0;
        width: 100%;
    }

    .studentFooter .titleWithTwoButtons{
        width: 100%;
    }

    .studentFooter .titleWithTwoButtons a{ font-size: 5vw !important;}
    
    .studentFooter .smallerFont{
        font-size: 6vw !important; 
    }

    .studentFooter .noClick{ 
        width: 40vw !important;}
    
    .studentFooter .titleWithTwoButtons a{
        width: 20vw;
    }
}

.studentFooter .twoButtons{
    display: none;
    justify-content: center;
    flex-wrap: nowrap;
}

.studentFooter .titleWithTwoButtons{
    display: none;
    justify-content: center;
    flex-wrap: nowrap;
}

.studentFooter a:hover{
    filter: brightness(110%);
}

.studentFooter .noClick{
    color: var(--lightGray2);
    cursor: default; 
    border-right: 3px solid var(--darkGray2);
}

.studentFooter .noClick:hover{ filter: none;}

.noClick:hover{background-color: var(--darkGray3) !important;}