
/* <ul> list of buttons/components in the footer */
.studentFooter{
    position: fixed;
    justify-content: center;
    align-content: center;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    list-style-type: none;
    text-align: center;
    padding-bottom: 40px;
}

/* Each actual component, probably a button */
.studentFooter li{
    display: none;
    transition: opacity 0.2s ease-in-out;
}

/* Actual button for the footer */
.studentFooter a{
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;
    width: 30vw;
    padding: 12px 80px;
    color: var(--lightGray1);
    background-color: var(--studentsColor);
}

.studentFooter a:hover{
    background-color: var(--footerNextHoverColor);
}

.studentFooter a:active{
    background-color: var(--footerNextHoverColor);
}

@media screen and (max-width: 1200px){
    .studentFooter{
        padding-bottom: 0;
        margin: 0;
    }

    /* Make the big footer buttons full width on small screens */
    .studentFooter a{
        font-size: 10vw;
        padding: 4vh 0 4vh 0;
    }

    .studentFooter #submitButton a{
        margin: 0 !important;
        width: 50%;
    }

    .studentFooter #selectButton{
        width: 100%;
    }

    .studentFooter li{
        margin: 0;
        width: 100%;
    }
}

.backSubmitButton{
    display: none;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: nowrap;
}

#backButton{
    background: var(--reportsColor);
}

#backButton:hover{
    background: var(--reportsColorDark);
}

#backButton:active{
    background: var(--reportsColorDark);
}