

/* <ul> list for Header bar */
.headerStyle {
    font-size: 1.2em;
    font-weight: 400;
    list-style-type: none;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
    background: var(--accentColor1);
    box-shadow: 0px 0px 5px var(--darkGray2);
  }
  
  /* Each li is an element in the header, usually an <a> tag */
  .headerStyle li{
    display: inline; /* List everything horizontally */
    
  }
  
  /* Actual header button styling */
  .headerStyle a {
    position: relative;
    transition: 0.2s background-color;
    display: inline-block;
    color: var(--lightGray2);
    text-decoration: none;
    padding: 20px 30px;
    margin: 0;
  }

.headerStyle a:hover{
    background: var(--accentColor1Light);
  }

  /* hopefully a temporary solution. Would like to re-use the above a:hover for this */
.currentPage{
  font-size: 1.4em;
  color: var(--lightGray2) !important;
  background: var(--accentColor1Light);
}

.currentPage:hover{
  background: var(--mainBGColor) !important;
}

.mobileHeader{
  display: none;
  height: 150px;
  margin-bottom: 30px;
  background: var(--accentColor1);
}

/* Div full of header links <a> tags */
.mobileHeader .links{
  display: none;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 150px;
  z-index: 10;
  width: 100%;
  color: var(--lightGray2);
  background: var(--accentColor1);
}

/* Actual links */
.mobileHeader .links a{
  text-align: center;
  text-decoration: none;
  color: var(--lightGray2);
  align-self: center;
  width: 100%;
  border-bottom: 1px solid var(--lightGray3);
  font-size: 10vh;
  padding: 20px 0px;
}

.mobileHeader .links a:hover{
  background: var(--blue3);
}

.mobileHeader a.icon{
  
  padding: 14px 16px;
  background: none;
  color: var(--lightGray1);
  font-size: 80px;
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
}

@media screen and (max-width: 1200px){
  .headerStyle{
    display: none;
  }

  .mobileHeader{
    display: block;
  }
}

