.headerStyle {
    /* -- Remove default ul styling -- */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0px;
    /* ------------------------------ -*/

    background-color: var(--darkGray1);
    font-size: 3vw;
    font-weight: 400;
    list-style-type: none;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  

  .headerStyle li{
    display: inline;
  }
  
  .headerStyle a {
    transition: 0.2s background-color;
    display: inline-block;
    color: var(--lightGray1);
    text-decoration: none;
    padding: 30px 30px;
    margin: 0;
  }

.headerStyle a:hover{
    background-color: var(--headerHoverColor);
  }

  /* hopefully a temporary solution. Would like to re-use the above a:hover for this */
.currentPage {
    background-color: var(--headerHoverColor);
  }
  