/* <ul> list for Header bar */
.headerStyle {
    font-size: 1.2em;
    font-weight: 400;
    list-style-type: none;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  /* Each li is an element in the header, usually an <a> tag */
  .headerStyle li{
    display: inline; /* List everything horizontally */
  }
  
  /* Actual header button styling */
  .headerStyle a {
    transition: 0.2s background-color;
    display: inline-block;
    color: var(--lightGray1);
    text-decoration: none;
    padding: 30px 30px;
    margin: 0;
  }

.headerStyle a:hover{
    background-color: var(--blue3);
  }

  /* hopefully a temporary solution. Would like to re-use the above a:hover for this */
.currentPage {
    background-color: var(--blue3);
  }
  

.mobileHeader{
  display: none;
  height: 150px;
  margin-bottom: 30px;
}

/* Div full of header links <a> tags */
.mobileHeader .links{
  overflow: scroll;
  display: none;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 150px;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

/* Actual links */
.mobileHeader .links a{
  text-align: center;
  text-decoration: none;
  color: var(--lightGray1);
  width: 100%;
  font-size: 10vh;
  padding: 20px 0px;
}

.mobileHeader .links a:hover{
  background: var(--blue3);
}

.mobileHeader a.icon{
  
  padding: 14px 16px;
  background: none;
  color: white;
  font-size: 100px;
  display: block;
  position: absolute;
  right: 20px;
  top: 0;
}

@media screen and (max-width: 1200px){
  .headerStyle{
    display: none;
  }

  .mobileHeader{
    display: block;
  }
}

