body{
    background: var(--adminColor);
}

/* Main table for profile page */
.tableContainer{
    border-collapse: collapse;
    border-spacing: 0;
    row-gap: 0;
    width: 95%;
    margin: 0 auto;
}

/* Style reset to remove default styling */
.tableContainer td, tr, th{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

/* Tabs section with the info, profile, etc */
.leftSide{
    vertical-align: top;
    margin-right: 50px;
}

.leftSide input{
    box-shadow: inset 0px 0px 2px var(--darkGray1);
}

.leftSide input:focus{
    box-shadow: inset 0px 0px 3px 1px var(--studentsColorDark);
}

.rightSide{
    vertical-align: top;
    width: 32%;
}

.rightSide ul{
    filter: drop-shadow(0px 10px 10px var(--darkGray3));
    background: white;
    width: 80%;
    margin: 0 0 0 auto;
    padding: 20px;
    text-align: center;
    display: block;
    border-radius: 8px;
}

.rightSide li{
    margin-bottom: 15px;
}

.formTitle{
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.hiddenInput{
    background: none;
    box-shadow: none;
    width: 70%;
}

label{
    font-weight: 700;
    float: left;
}

.studentTable {
    width: 80%;
    margin: 0 auto;
}

.labelColumn{
    vertical-align: middle;
}

.valueColumn{
    vertical-align: middle;
}

.infoTable{
    border-collapse: collapse;
    width: 100%;
}

.infoTable td{
    padding: 10px;
}

.infoTable li{
    margin-bottom: 15px;
}

.infoTable input{
    width: 90%;
    display: block;
    margin: 0 auto;
}

.mobileProfile{
    display: none;
    width: 100%;
}

.imageContainer{
    position: relative;
    width: 100%;
}

/* .editImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.editImage:hover{
    background: var(--adminColor);
    opacity: 0.2;
} */

/* Tooltip container */
.edit-image-tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .edit-image-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .edit-image-tooltip:hover .tooltiptext {
    visibility: visible;
  }

.imageContainer:hover{
    background: var(--adminColor);
    opacity: 0.2;
    cursor: pointer;
}

.imageContainer img{
    border: 1px solid black;
    width: 100%;
}

.hiddenUpload>input {
    display: none;
  }

.profileButtons{
    display: flex;
    justify-content: space-around;
}

.profileButtons a{
    width: 45%;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 1.5em;
}

.deleteButton{
    background: var(--reportsColorDark);
    color: var(--lightGray2);
}

.deleteButton:hover{
    filter: brightness(110%);
}

.deleteButtonActive{
    background: var(--reportsColor) !important;
    box-shadow: 0px 0px 6px var(--reportsColorDark) !important;
}

.saveButton{
    background: var(--adminColor);
    color: var(--lightGray1);
}

.saveButton:hover{
    filter: brightness(110%);
}

@media screen and (max-width: 1200px){
    .profileButtons{
        flex-direction: column-reverse;
        align-items: center;
    }

    .profileButtons a{
        width: 80%;
        margin-bottom: 20px;
        font-size: 4em;
    }

    .infoTable tr, td{display: block;}

    .infoTable ul{
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .infoTable li{
        display: inline-block;
        width: 90%;
    }

    .leftSide{ width: 90%; margin: 45px auto !important;}

    .infoTable input{width: 100%;}

    .leftSide tr, td{ display: block; }

    .mobileProfile { display: block !important; margin: 0 auto !important;}

    .mobileProfile ul { margin: 0 auto;}
    .mobileProfile input{
        font-size: 1.2em !important;
        padding: 10px 0 10px 8px;
    }

    #studentImage label{float: none !important;}

    .mobileProfile tr td{ vertical-align: middle;}

    .imageContainer img{ border-radius: 50%; width: 70%; margin: 0 auto 20px auto !important;}

    .rightSide{display: none;}

    .rightSide ul{ width: 90%; padding: 30px 0px 20px 0px;}

    .labelColumn{
        display: table-cell;
        width: 10%;
    }

    .studentTable{
        font-size: 1.2em;
    }
}

