
.profileContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}

/* Tabs section with the info, profile, etc */
.tabsSection{
    vertical-align: top;
    margin-right: 50px;
    width: 60%;
}

.tabsSection input{
    box-shadow: inset 0px 0px 2px var(--darkGray1);
}

.tabsSection input:focus{
    box-shadow: inset 0px 0px 3px 1px var(--studentsColorDark);
}

.profileSection{
    width: 32%;
    border-radius: 8px;
}

.formTitle{
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
}

.hiddenInput{
    background: none;
    box-shadow: none;
    width: 70%;
    color: var(--DarkTextColorLight);
}

label{
    color: var(--DarkTextColorLight);
}


/* .editImage{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.editImage:hover{
    background: var(--adminColor);
    opacity: 0.2;
} */

/* Tooltip container */
.edit-image-tooltip {
    position: relative;
  }
  
/* Tooltip text */
.edit-image-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.edit-image-tooltip:hover .tooltiptext {
    visibility: visible;
}

.imageContainer{
    text-align: center;
    position: relative;
}

.imageContainer:hover{
    opacity: 0.2;
    cursor: pointer;
}

.imageContainer img{
    border: 1px solid black;
    max-width: 100%;
    border-radius: 16px;
}

.imageContainer img:hover{
    background: var(--adminColor);
}

.hiddenUpload>input {
    display: none;
  }

/* -------  Delete and Save buttons under profile picture  ------- */
.profileButtons{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.profileButtons a{
    width: 40%;
    padding: 10px 0px;
    text-decoration: none;
    margin-bottom: 20px;
}

.deleteButtonConfirm{
    background: var(--ThemeColor4) !important;
    box-shadow: 0px 0px 6px var(--ThemeColor4) !important;
}

.saveButton{
    background: var(--adminColor);
    color: var(--LightTextColor);
}

.saveButton:hover{
    filter: brightness(110%);
}
/* ------------------------------------------------------------------- */

.fullDay{
    display: flex;
    height: 80px;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1200px){

    /* Collapses the Profile over the Tabs section */
    .profileContainer {
        flex-direction: column-reverse;
        align-items: center;
    }

    label{font-size: 5vw;}

    .profileButtons{flex-direction: column-reverse;}
    .profileButtons a{width: 100%; font-size: 4em; }

    /* Displays the info area as one item per row and full width */
    .infoTable ul{
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    .infoTable li{
        display: inline-block;
        width: 90%;
    }
    .infoTable input{width: 100%;}

    .tabsSection{ width: 90%; margin: 45px auto !important;}

    #studentImage label{float: none !important;}

    .imageContainer {width: 100%;}
    .imageContainer img{ 
        width: 50vw;
        height: 50vw;
        margin: 0 auto 20px auto !important;
    }

    .profileSection{ width: 100%; }

    .profileSection .profileList{ width: 90%; padding: 30px 0px 20px 0px;}
}

