

.reportsList{
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
}

.reportsList li{
    width: 900px;
    vertical-align: top;
    margin: 20px auto;
}


.timeStamp{
    width: 30%;
    float: right;
    background: var(--blue1);
    color: var(--DarkTextColor);
    box-shadow: inset 0px 0px 3px var(--darkGray1);
}

.activity{
    float: left;
}

@media screen and (max-width: 1200px){
    .reportsList li{
        width: 90%;
    }
}