/* <ul> list for Header bar */
.headerStyle {
  margin-bottom: 0px;
}

.headerStyle2 {
  font-size: 1.6em;
  font-weight: 400;
  display: inline-block;
  list-style-type: none;
  text-align: left;
  background: rgba(10, 65, 76);
  color: white;
}

/* Each li is an element in the header, usually an <a> tag */
.headerStyle2 li{
  display: inline; /* List everything horizontally */
  
}

/* Actual header button styling */
.headerStyle2 a {
  transition: 0.2s background-color;
  display: inline-block;
  color: var(--lightGray1);
  text-decoration: none;
  padding: 20px 30px;
  margin: 0;
}

.headerStyle2 a:hover{
  background-color: var(--blue3);
}

.canvasObj {
  background-color: white;
  margin-top: 65px;
  margin-bottom: 70px;
}

.newLine {
display: block;
content: "\A\A";
white-space: normal;
}

#newchart {
  margin-top: 75px;
}

#deleteButton {
  /*position: relative; 
  */right: 0%;
  top: 0%;
}

.deleteButton {
  margin-left: 95%;
  color:rgb(143, 32, 32);
  background-color: rgb(199, 47, 47);
  border-color: rgb(143, 32, 32);
  display: inline-block;
  font-size: 2em;
  justify-self: right;
  padding: 3px 6.5px;
  cursor: pointer;
  filter: brightness(120%);
}

.deleteB {
  position: relative;
  justify-content: right;
  color:rgb(143, 32, 32);
  background-color: rgb(199, 47, 47);
  border-color: rgb(143, 32, 32);
  display: inline-block;
  white-space: nowrap;
  font-size: 2em;
  justify-self: right;
  padding: 3px 6.5px;
  cursor: pointer;
  filter: brightness(120%);
}

.spinny {
  margin-right: 70%;
  background-color: rgba(0, 0, 0, 0.051);
  justify-self: left;
  width: 25%;
  display: inline-block;
  visibility: visible;
  z-index: 9000;
}

.lab {
  margin-top: 8em;
}

.startD {
  margin-right: 2em;
}

div.tooltip-pie {
  white-space: pre-wrap;
  cursor: pointer;
  position: absolute;
  text-align: center;
  padding: .8rem;
  background: #FFFFFF;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
}

.testing span::before{
  content: "\A";
  white-space: pre;
}

.secondOption {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* hopefully a temporary solution. Would like to re-use the above a:hover for this */
.currentPage {
  background-color: var(--blue3);
}

.navbar-brand { 

  display: inline-block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
 }

 .navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-nav {
  font-size: 12px;
  display: inline-block;
  flex-direction: row;
  margin-bottom: 0;
  padding: .5rem 1rem;
  list-style: none;
  overflow: hidden;
  white-space: nowrap;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.float-right {
  float: right !important;
}

.navbar-expand-lg > .container,
.navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }

.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    flex-wrap: nowrap;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

ul{
  margin-block-start: 1rem;
}

.mobileHeader{
display: none;
height: 150px;
margin-bottom: 0px;
}

/* Div full of header links <a> tags */
.mobileHeader .links{
overflow: scroll;
display: none;
flex-direction: column;
text-align: center;
position: fixed;
top: 150px;
z-index: 1;
width: 100%;
height: 100%;
max-height: 100%;
}

/* Actual links */
.mobileHeader .links a{
text-align: center;
text-decoration: none;
color: var(--lightGray1);
width: 100%;
font-size: 10vh;
padding: 20px 0px;
}

.mobileHeader .links a:hover{
background: var(--blue3);
}

.mobileHeader a.icon{

padding: 14px 16px;
background: none;
color: white;
font-size: 100px;
display: block;
position: absolute;
right: 20px;
top: 0;
}

@media screen and (max-width: 1200px){
.headerStyle{
  display: none;
}

.mobileHeader{
  display: block;
}
}