/* List container for the students. 
    Removes default list style and sets width. */
.studentsList{
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;
    list-style: none;
    text-align: center;
}

/* Image in each listing with border around it */
.studentsList img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px #494949;
    width: 100%;
}

.studentsList table{
    border-spacing: 20px 20px;
}

/* This is the actual student listing itself,
   which contains multiple elements */
.studentsList li {
    transition: box-shadow 0.1s !important;
    transition: opacity 0.2s ease-in;
    background: var(--listBackgroundColor);
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    width: 250px;
    text-align: center;
    box-shadow: inset 0px 0px 0px var(--buttonInsetShadowColor);
}

.studentsList li:hover{
    cursor: pointer;
    opacity: 0.9;
    box-shadow: inset 0px 0px 3px var(--buttonInsetShadowColor);
}

@media (max-width: 680px) {
    .studentsList li { width: 45%; } /* On small screens, show one logo per row */
}

.studentsList th{
    column-span: 2;
}

.studentsList td{
    color: #0A0a0a;
    font-size: 1.2em;
}

.selectedStudent{
    background-color: var(--listSecondaryBackgroundColor) !important;
    box-shadow: inset 0px 0px 6px 3px var(--buttonInsetShadowColor) !important;
}

.imageContainer{
    position: relative;
    width: 100%;
}

/* Green overlay that's displayed when a student is selected */
.imageOverlay {
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: 0.1s;
    background-color: var(--selectedStudentColor);
  }

  .selectedStudent .imageOverlay{ opacity: 0.5; }

  /* The checkmark that's displayed over selected students */
  .icon {
    text-decoration: none;
    color: white;
    font-size: 150px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }