
table, tr, th, td{
    text-align: left;
}

table{
    width: 95%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 1px var(--primaryShadowColor);
}

.centeredThead thead th{
    width: 100%;
    display: block;
    column-span: 100%;
  }

.grayRow{
    background-color: #EFEFEF
}

tr{
    background-color: #F9F9F9;
}


th{
    padding: 25px 30px;
    font-weight: 500;
    font-size: 20px;
    min-width: 50%;
    background-color: var(--mainTableColor);
    color: #141414;
}

td{
    font-size: 15px;
    padding: 20px 25px;
}

.optionsColumn{
    float: right;
    border-left: 1px solid #C7C7C7;
}