.adminStudents{
    /* -- Remove default ul styling -- */
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0px;
    /* ------------------------------ -*/

    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
    text-align: center;
}

.adminStudents td{
    vertical-align: top;
}

.adminStudents li{
    background-color: var(--headerBackgroundColor);
    display: inline-block;
    position: relative;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}

.studentImage img{
    width: 200px;
    border: 1px solid var(--lightTextColor);
    margin-right: 15px;
    margin-bottom: 30px;
}

.inputTable {
    display: block;
    width: 300px;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.inputTable tr, td{
    display: block;
    width: 100%;
}

.inputTable tbody{
    display: block;
    width: 100%;
}

.inputTable label{
    font-size: 0.9em;
    text-align: left;
    display: block;
    color: var(--lightTextColor);
    margin-bottom: 2px;
    font-weight: 200 !important;
}

.inputTable input{
    display: block;
    width: 290px;
    margin-bottom: 10px;
}
.week{
    color: var(--weekdayText);
    padding: 0;
    margin: 0;
    list-style: none;
    display: block !important;
    margin-top: 15px;
    width: 100%;
}

.week li{
    width: 15px;
    display: inline-block;
    background: var(--mainBackgroundColor);
    border: 1px solid var(--mainBackgroundColor);
    border-radius: 0px;
    margin: 2px;
    padding: 10px;
}

.attending{
    border: 1px solid var(--weekdayColor) !important;
    color: var(--lightTextColor) !important;
    background: var(--weekdayColor) !important;
}


