@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/* Global variables. Changing one will change color of multiple
   elements. */
:root{
  /* Dark Grays (used in backgrounds,shadows, and text)
     darkGray1: darkest; darkGray3: lightest */
  --darkGray1: #2a2a2a;
  --darkGray2: #2f2f2f;
  --darkGray3: #3a3a3a; 
  --darkGray4: #494949;

  /* Page Theme Colors: */
  --studentsColor: #86AAA7;
  --studentsColorDark: #425452;
  --reportsColor: #AB7D81;
  --reportsColorDark: #593E41;
  --adminColor: #5E895F;
  --adminColorDark: #3E4E3E;
  --tasksColor: #868DAA;
  --tasksColorDark: #4E5263;

  --yellow1: #FDFFAD;
  --yellow2: #DDDF8D;
  --yellow3: #B3B46F;
  --yellow4: #7A7C46;
  --yellow5: #555631;

  --green1: #B4FFBE;
  --green2: #9AE1A4;
  --green3: #83BB8B;
  --green4: #64936B;
  --green5: #2F4633;

  --blue1: #8A9EC8;
  --blue2: #66779C;
  --blue3: #505F80;
  --blue4: #3B4760;

  --red1: #FFB1B7;
  --red2: #C4757B;
  --red3: #914A4F;
  --red4: #5D2E32;

  /* Button Colors */

  /* Light Grays (Mostly in text or light backgrounds)
     lightGray1: lightest; lightGray2: darkest */
  --lightGray1: #EEEEEE;
  --lightGray2: #e0e0e0;
  --lightGray3: #B6B6B6;


  --headerHoverColor: #48657F;
  
  --adminButtonColor: #4B4F7E;
  --adminButtonHoverColor: #3D4067;
  
  --selectedStudentColor: #00A719;
  font-family: 'Roboto Slab', sans-serif;

  --footerNextColor: #48657F;
  --footerNextHoverColor: #48657F;

  --weekdayColor: #4196E3;
}

ul{
  /* -- Remove default ul styling -- */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0px;
  /* ------------------------------ -*/

  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  background-color: var(--darkGray2);
}

a{
  cursor: pointer;
}

/* Use this for any buttons */
.customButton{
  padding: 8px 25px;
  background-color: var(--adminButtonColor);
  border-radius: 15px;
  margin-right: 10px;
  color: var(--lightGray1);
}

.customButton:hover{
  box-shadow: inset 0px 0px 2px var(--darkGray1);
  cursor: pointer;
}

.customButton:active{
  opacity: 0.95;
  box-shadow: inset 0px 0px 2px 1px var(--darkGray1);
}

/* Base button style class. No background with a colored border.
    Each button (<a> tag) should use this as the base */
.homeButton{
  text-decoration: none;
  border: none;
  box-shadow: 0 0 8px 2px var(--darkGray4);
  box-shadow: inset 0px 0px 0px var(--darkGray3);
  --aspect-ratio: 1;
}

.homeButton:hover {
  color: var(--lightGray1);
  filter: brightness(0.9);
  box-shadow: inset 0px 0px 15px 2px var(--darkGray3);
}

/* Classes below change the color of buttons from default */
.studentButton {background: var(--studentsColor);}
.tasksButton { background: var(--tasksColor); }
.emailButton { background: var(--reportsColor); }
.adminButton { background: var(--adminColor); }

/* Container for home page buttons */
.buttonAreaGrid{
  padding: 50px;
  margin: 0 auto;
  width: 70%;
  list-style-type: none;
  display: block;
  text-align: center;
}

.buttonAreaGrid li{
  border-radius: 20px;
  width: 28vw;
  height: 28vw;
  margin: 10px;
  display: inline-block;
}

/* Button Styling (actual a tag) */
.buttonAreaGrid li a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:var(--lightGray1);
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  font-size: 4vw;
}

/* Mobile friendly stuff */
@media screen and (max-width: 1200px) {

  .buttonAreaGrid{
    width: 80%;
  }

  .buttonAreaGrid li{
    width: 80vw;
    height: 40vw;
  }

  .buttonAreaGrid li a{
    font-size: 10vw;
  }
  .homeButton{
    font-size: 12vw;
  }

  /* Make input text/field bigger */
  input{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 2.5em !important;
  }

  textarea{
    font-size: 2.5em !important;
  }

  /* Make the button collapse under "No students today" text */
  .missingContainer{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .missingContainer h2{
    font-size: 2.5em !important;
    margin-bottom: 20px;
  }
}


/*-------------- CUSTOM DROP DOWN CLASSES --------------*/

select {
    padding: 8px 12px;
    border-radius: 4px;
    width: 50%;
    border: 1px solid LightGray;
    color: #727272 !important;
    font-size: 16px; 
    text-shadow: 0px 0px 0px black;
    box-shadow: none;
    -moz-appearance: none;
    background-image: none; 
    background: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-color: white;
    -webkit-appearance: none;
}

select:focus {
    outline: none;
}

select:hover {
    outline: none;
    border: 1px solid DarkGray;
}

option {
  background-color: white;
  color: #727272 !important;
  border-radius: 2px;
}

option:hover {
  background-color: #303244 !important;
  color: white !important;
}

input{
  border-radius: 8px;
  border-style: none;
  outline: none;
  padding: 10px 15px 10px 15px;
  font-size: 1.2em;
  -webkit-user-select: text;
}

input::selection{
  background: #D4E4FF;
}

input:focus{
  box-shadow: inset 0px 0px 4px var(--selectedStudentColor);
}

textarea{
  border-style: none;
  width: 95%;
  outline: none;
  font-size: 1.2em;
  padding: 10px 15px;
  box-shadow: inset 0px 0px 3px 0px var(--darkGray2);
  border-radius: 10px;
  max-width: 100%;
  min-height: 3em;
  resize: none;
  overflow-y: auto;
}

textarea:focus{
  box-shadow: inset 0px 0px 4px var(--selectedStudentColor);
}

.mainBlock div{
  padding: 30px;
}
/*# sourceMappingURL=style.css.map */

/* Main container for when something is missing. 
   Format:
   <div class="missingContainer>
    <h2></h2>
    <a></a>
   </div>
   */
.missingContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 40px;
}

.missingContainer h2{
  font-size: 3em;
  color: var(--lightGray1);
}

.missingContainer a{
  text-decoration: none;
  padding: 15px 90px;
  font-size: 2em;
  color: var(--lightGray1);
  background: var(--studentsColor);
  box-shadow: 0px 0px 4px var(--darkGray4);
  border-radius: 10px;
}

.missingContainer a:hover{
  filter: brightness(90%);
  box-shadow: inset 0px 0px 5px var(--darkGray1);
}