@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

/* Global variables. Changing one will change color of multiple
   elements. */
:root{
  /* Dark Grays (used in backgrounds,shadows, and text)
     darkGray1: darkest; darkGray3: lightest */
  --darkGray1: #2a2a2a;
  --darkGray2: #2f2f2f;
  --darkGray3: #3a3a3a; 
  --darkGray4: #494949;

  /* Page Theme Colors: */
  --studentsColor: #86AAA7;
  --studentsColorDark: #425452;
  --reportsColor: #AB7D81;
  --reportsColorDark: #593E41;
  --adminColor: #5E895F;
  --adminColorDark: #3E4E3E;
  --tasksColor: #868DAA;
  --tasksColorDark: #4E5263;

  --yellow1: #FFE3AE;
  --yellow2: #F9D38B;
  --yellow3: #E0BA71;
  --yellow4: #C29D54;
  --yellow5: #A58443;

  --orange1: #F8BA9F;
  --orange2: #DD8E6C;
  --orange3: #B67458;
  --orange4: #905D49;
  --orange5: #6D3E2B;

  --green1: #C1D6BA;
  --green2: #AFC2A9;
  --green3: #96A990;
  --green4: #6C7E66;
  --green5: #4C5948;

  --blue1: #97B8CA;
  --blue2: #86A6B8;
  --blue3: #627A87;
  --blue4: #495A64;
  --blue5: #323D43;

  --red1: #FFB1B7;
  --red2: #DF868D;
  --red3: #AD676C;
  --red4: #834B4F;
  --red5: #5C3236;

  --skyBlue1: ;
  --skyBlue2: ;
  --skyBlue3: ;
  --skyBlue4: ;
  --skyBlue5: ;

  --purple1: ;
  --purple2: ;
  --purple3: ;
  --purple4: ;
  --purple5: ;



  /* Button Colors */

  /* Light Grays (Mostly in text or light backgrounds)
     lightGray1: lightest; lightGray2: darkest */
  --lightGray1: #EEEEEE;
  --lightGray2: #e0e0e0;
  --lightGray3: #B6B6B6;


  --headerHoverColor: #48657F;
  
  --adminButtonColor: #4B4F7E;
  --adminButtonHoverColor: #3D4067;
  
  --selectedStudentColor: #00A719;
  font-family: 'Roboto Slab', sans-serif;

  --footerNextColor: #48657F;
  --footerNextHoverColor: #48657F;

  --weekdayColor: #4196E3;
}

ul{
  /* -- Remove default ul styling -- */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0px;
  /* ------------------------------ -*/

  list-style-type: none;
}

h1, h2, h3, h4, h5, h6{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}  

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  background: var(--blue4);
  background: linear-gradient(197deg, var(--blue5) 0%, var(--blue5) 54%, var(--blue5) 100%);
  min-height: 100vh;
}
a{
  cursor: pointer;
}

/* Apply to elements that you want to re-color individually 
    <p class="lightText red right">Hello</p>
    The above has light text, red BG, and is oriented right*/
.halfWidth{width: 50% !important;}
.thirdWidth{width: 30% !important;}

/* ----------- WITDH STUFF ----------- */
.width10{width: 10% !important;}
.width20{width: 20% !important;}
.width30{width: 30% !important;}
.width40{width: 40% !important;}
.width45{width: 45% !important;}
.width50{width: 50% !important;}
.width60{width: 60% !important;}
.width70{width: 70% !important;}
.width80{width: 80% !important;}
.width90{width: 90% !important;}
.width100{width: 100% !important;}

.customTable .darkText{color: var(--darkGray2) !important;}

/* ----------- BACKGROUND STUFF ----------- */
.lightGray1-BG{background: var(--lightGray1);}
.lightGray2-BG{background: var(--lightGray2);}
.lightGray3-BG{background: var(--lightGray3);}

.darkGray1-BG{background: var(--darkGray1);}
.darkGray2-BG{background: var(--darkGray2);}
.darkGray3-BG{background: var(--darkGray3);}

.red1-BG{background: var(--red1);}
.red2-BG{background: var(--red2);}
.red3-BG{background: var(--red3);}
.red4-BG{background: var(--red4);}
.red5-BG{background: var(--red5);}

.blue1-BG{background: var(--blue1);}
.blue2-BG{background: var(--blue2);}
.blue3-BG{background: var(--blue3);}
.blue4-BG{background: var(--blue4);}
.blue5-BG{background: var(--blue5);}

.green1-BG{background: var(--green1);}
.green2-BG{background: var(--green2);}
.green3-BG{background: var(--green3);}
.green4-BG{background: var(--green4);}
.green5-BG{background: var(--green5);}

.yellow1-BG{background: var(--yellow1);}
.yellow2-BG{background: var(--yellow2);}
.yellow3-BG{background: var(--yellow3);}
.yellow4-BG{background: var(--yellow4);}
.yellow5-BG{background: var(--yellow5);}


.lightGray{ background: var(--lightGray2);}
.darkGray{background: var(--darkGray2);}
.green{background: var(--green2);}
.blue{background: var(--blue1);}
.red{background: var(--red2);}
.yellow{background: var(--yellow2);}

.lightText{color: var(--lightGray2)};
.darkText{color: var(--darkGray2)};

.right{float: right;}
.left{float: left;}

.lightPadding{padding: 5px !important;}
.mediumPadding{padding: 10px !important;}
.heavyPadding{padding: 15px !important;}
.veryHeavyPadding{padding: 50px !important;}

.insetShadowSmall{box-shadow: inset 0px 0px 2px var(--darkGray2) !important;}
.insetShadowMedium{box-shadow: inset 0px 0px 6px 1px var(--darkGray2) !important;}
.insetShadowBig{box-shadow: inset 0px 0px 12px 2px var(--darkGray2) !important;}

.shadowSmall{box-shadow: 0px 0px 2px var(--darkGray2) !important;}
.shadowMedium{box-shadow: 0px 0px 6px 1px var(--darkGray2) !important;}
.shadowBig{box-shadow: 0px 0px 12px 2px var(--darkGray2) !important;}


/* ----------- BORDER STUFF ----------- */
.border1px{border: 1px solid;}
.border2px{border: 2px solid;}
.border5px{border: 5px solid;}

.borderRadiusSmall{border-radius: 4px !important;}
.borderRadiusMedium{border-radius: 8px !important;}
.borderRadiusLarge{border-radius: 16px !important;}

.red1-border{border-color: var(--red1) !important;}
.red2-border{border-color: var(--red2) !important;}
.red3-border{border-color: var(--red3) !important;}
.red4-border{border-color: var(--red4) !important;}
.red5-border{border-color: var(--red5) !important;}

.blue1-border{border-color: var(--blue1) !important;}
.blue2-border{border-color: var(--blue2) !important;}
.blue3-border{border-color: var(--blue3) !important;}
.blue4-border{border-color: var(--blue4) !important;}
.blue5-border{border-color: var(--blue5) !important;}

.green1-border{border-color: var(--green1) !important;}
.green2-border{border-color: var(--green2) !important;}
.green3-border{border-color: var(--green3) !important;}
.green4-border{border-color: var(--green4) !important;}
.green5-border{border-color: var(--green5) !important;}

.yellow1-border{border-color: var(--yellow1) !important;}
.yellow2-border{border-color: var(--yellow2) !important;}
.yellow3-border{border-color: var(--yellow3) !important;}
.yellow4-border{border-color: var(--yellow4) !important;}
.yellow5-border{border-color: var(--yellow5) !important;}

.darkGray1-border{border-color: var(--darkGray1) !important;}
.darkGray2-border{border-color: var(--darkGray2) !important;}
.darkGray3-border{border-color: var(--darkGray3) !important;}

.lightGray1-border{border-color: var(--lightGray1) !important;}
.lightGray2-border{border-color: var(--lightGray2) !important;}
.lightGray3-border{border-color: var(--lightGray3) !important;}

.smallFont{font-size: 0.8em !important;}
.mediumFont{font-size: 1.5em !important;}
.largeFont{font-size: 2em !important;}

.marginTop{margin-top: 40px !important;}
.marginBottom{margin-bottom: 40px !important;}
.marginLeft{margin-left: 40px !important;}
.marginRight{margin-right: 40px !important;}

.marginTopSmall{margin-top: 6px !important;}
.marginBottomSmall{margin-bottom: 6px !important;}
.marginLeftSmall{margin-left: 6px !important;}
.marginRightSmall{margin-right: 6px !important;}



.displayNone{display: none !important;}
.relative{position: relative;}
.absolute{position: absolute;}

.borderBox{box-sizing: border-box !important;}

.flexWrap {flex-wrap: wrap !important;}
.flexWrapReverse{flex-wrap: wrap-reverse !important;}

.flexContainer{
  display: flex;
  padding: 30px;
  margin: 0;
}

.noMargin{margin: 0 !important;}

.flex{display: flex;}
.flexColumn{flex-direction: column;}
.flexStretch{justify-content: stretch; align-items: stretch;}

.flexCenter{
  justify-content: center !important;
  align-content: center !important;
}

.flexCenterSelf{justify-self: center !important;}
.flexCenterItems{justify-items: center !important;}

.flexAlignCenter{align-content: center !important; align-items: center !important;}

.flexLeft{justify-content: flex-start !important;}
.flexRight{justify-content: flex-end !important;}
.spaceBetween{justify-content: space-between !important;}
.spaceAround{
  justify-content: space-around !important;
  align-content: center !important;
}

.ui-selectmenu-button.ui-button{
  width: 10vw !important;
}

/* Use this for any buttons */
.customButton{
  padding: 8px 25px;
  background-color: var(--adminButtonColor);
  border-radius: 15px;
  margin-right: 10px;
  color: var(--lightGray1);
}

.customButton:hover{
  box-shadow: inset 0px 0px 2px var(--darkGray1);
  cursor: pointer;
}

.customButton:active{
  opacity: 0.95;
  box-shadow: inset 0px 0px 2px 1px var(--darkGray1);
}

/* Base button style class. No background with a colored border.
    Each button (<a> tag) should use this as the base */
.homeButton{
  text-decoration: none;
  border: none;
  box-shadow: 0 0 8px 2px var(--darkGray4);
  box-shadow: inset 0px 0px 0px var(--darkGray3);
  --aspect-ratio: 1;
}

.homeButton:hover {
  color: var(--lightGray1);
  filter: brightness(0.9);
  box-shadow: inset 0px 0px 15px 2px var(--darkGray3);
}

/* Classes below change the color of buttons from default */
.studentButton {background: var(--studentsColor);}
.tasksButton { background: var(--tasksColor); }
.emailButton { background: var(--reportsColor); }
.adminButton { background: var(--adminColor); }

/* Container for home page buttons */
.buttonAreaGrid{
  padding: 50px;
  margin: 0 auto;
  width: 70%;
  list-style-type: none;
  display: block;
  text-align: center;
}

.buttonAreaGrid li{
  border-radius: 20px;
  width: 28vw;
  height: 28vw;
  margin: 10px;
  display: inline-block;
}

/* Button Styling (actual a tag) */
.buttonAreaGrid li a{
  width: 100%;
  height: 100%;
  text-decoration: none;
  color:var(--lightGray1);
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  font-size: 4vw;
}


/* Mobile friendly stuff */
@media screen and (max-width: 1200px) {

  .buttonAreaGrid{
    width: 80%;
  }

  .buttonAreaGrid li{
    width: 80vw;
    height: 40vw;
  }

  .buttonAreaGrid li a{
    font-size: 10vw;
  }
  .homeButton{
    font-size: 12vw;
  }

  /* Make input text/field bigger */
  input{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 2.5em !important;
  }

  textarea{
    font-size: 2.5em !important;
  }

  /* Make the button collapse under "No students today" text */
  .missingContainer{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .missingContainer h2{
    font-size: 2.5em !important;
    margin-bottom: 20px;
  }
}



input{
  border-radius: 8px;
  border-style: none;
  outline: none;
  padding: 10px 15px 10px 15px;
  font-size: 1.2em;
  -webkit-user-select: text;
  width: 100%;
  box-sizing: border-box;
}

input::selection{
  background: #D4E4FF;
}

input:focus{
  box-shadow: inset 0px 0px 4px var(--selectedStudentColor);
}

textarea{
  border-style: none;
  outline: none;
  font-size: 1.2em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  box-shadow: inset 0px 0px 3px 0px var(--darkGray2);
  border-radius: 10px;
  max-width: 100%;
  min-height: 3em;
  resize: none;
  overflow-y: auto;
}

textarea:focus{
  box-shadow: inset 0px 0px 4px var(--selectedStudentColor);
}

.mainBlock div{
  padding: 30px;
}
/*# sourceMappingURL=style.css.map */

/* Main container for when something is missing 
   Format:
   <div class="missingContainer>
    <h2></h2>
    <a></a>
   </div>
   */
.missingContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0px auto;
  padding-bottom: 40px;
}

.missingContainer h2{
  font-size: 3em;
  color: var(--lightGray1);
}

.missingContainer a{
  text-decoration: none;
  padding: 15px 90px;
  font-size: 2em;
  color: var(--lightGray1);
  background: var(--studentsColor);
  box-shadow: 0px 0px 4px var(--darkGray4);
  border-radius: 10px;
}

.missingContainer a:hover{
  filter: brightness(90%);
  box-shadow: inset 0px 0px 5px var(--darkGray1);
}


/**** Statistics ****/

/* Navigation styling */
#navigation {
  display: flex;
  top: 0;
  width: 100%;
  margin-bottom: 100px;
}

.section {
  padding-top: 70px;
}

#form {
  color:rgb(0, 0, 0);
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

#form2{
  color:rgb(255, 255, 255);
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

/* stats */
.chart{
  color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

h1{
  color:rgb(255, 255, 255);
}

svg {
  background-color: rgba(255, 255, 255, 0.9);
}


/* heat map  */
rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
} 

/* Navigation styling */
#navigation {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

#navigationPie{
  display: flex;
  position: inherit;
}

li {
  float: center;
}

.section {
  padding-top: 70px;
}

#form {
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
}