:root{
  --width: 80px;
  --height: 40px;

}

/* The switch - the box around the slider */
.switch {
    position: relative;
    float: right;
    margin: auto 0;
    margin-right: 20px;
    width: calc(var(--width));
    height: calc(var(--height))
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkGray4);
    box-shadow: inset 0px 0px 3px var(--darkGray2);
  }
  
  /* The square in the middle */
  .slider:before {
    position: absolute;
    content: "";
    width: calc(var(--width) / 2);
    height: calc(var(--height) - 8px);
    left: 4px;
    bottom: 4px;
    background-color: var(--lightGray1);
  }
  
  input:checked + .slider {
    box-shadow: inset 0px 0px 3px var(--darkGray2);
    background-color: var(--adminColor);
  }
  
  
  /* When it's checked */
  input:checked + .slider:before {
    left: auto;
    right: 4px;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 6px;
  }
  
  .slider.round:before {
    border-radius: 4px;
  }

  .switchLabel{
      font-size: 24px;
      margin-right: 10px;
      color: var(--darkGray3);
  }

  /* td container for the switch */
  .switchColumn{
    width: 80px;
  }

  /* td container for checkBoxLabel */
  .labelColumn{
    width: 150px;
  }


  @media screen and (max-width: 1200px){
    :root{
      --width: 100px;
      --height: 60px;
    }
  }