.tabsContainer{
  background-color: var(--darkGray3);
}
/* Style the tab */
.tabs {
  display: block;
  list-style-type: none;
  text-align: left;
  font-size: 2em;
  background: var(--darkGray3);
}

.tabs a{
  padding: 0px 30px;
  text-decoration: none;
  color: var(--lightGray2);
  outline: none;
}

/* Change background color of buttons on hover */
.tabs a:hover {
  color: var(--lightGray1);
  background-color: var(--darkGray2);
}

/* Create an active/current tablink class */
.tabs a:active {
  background-color: var(--darkGray2);
  color: var(--lightGray1);
}

/* Style the tab content */
.tabContent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  background: var(--darkGray2);
}

.tabContentArea{
  display: block;
  min-width: 100%;
}

.ui-tabs-tab.ui-state-active{
  color: var(--lightGray1) !important;
  background-color: var(--darkGray2) !important;
}
