.tabsContainer{
  background-color: var(--darkGray3);
}
/* <ul> list of tab buttons */
.tabs {
  display: block;
  list-style-type: none;
  text-align: left;
  font-size: 2em;
}

/* Tab buttons */
.tabs a{
  padding: 0px 30px;
  text-decoration: none;
  color: var(--lightGray2);
  outline: none;
}

/* Change background color of buttons on hover */
.tabs a:hover {
  color: var(--darkGray3);
  background-color: var(--lightGray3);
}

/* Create an active/current tablink class */
.tabs a:active {
  background-color: var(--darkGray3);
  color: var(--lightGray1);
}

.tabs li{
  display: inline-block;
}

/* Tab content with a background and stuff */
.tabContent {
  display: none;
  padding: 20px 40px;
  border: 1px solid #A57750;
  border-top: none;
  opacity: 1;
}

/* jQuery styling override for tab colors */
.ui-tabs-tab.ui-state-active{
  color: var(--lightGray1) !important;
  background-color: var(--darkGray3) !important;
}
