/*
    Styling to display activities as a list with buttons on the side
    HTML Format:

    <ul class="ulList">
        <li>
            <p></p> // activity name
            <button id="hideActivity"></button>
            <button id="editActivity"></button>
            <button id="deleteActivity"></button>
        </li>
*/

/* styling for main <ul> */
.ulList{
    --circleSize: 50px;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
}

/* Each <li> is one row */
.ulList li{
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    margin-bottom: 10px;
    border-radius: 12px;
    overflow: hidden;
    padding-left: 15px;
    box-shadow: 0px 0px 2px var(--darkGray4);
}

.ulList li p{
    align-self: center;
    color: var(--darkGray3);
    font-size: 16px;
    margin: 5px 0px 5px 0px;
}

.ulList li button{
    font-size: 16px;
    justify-self: center;
    align-self: stretch;
    width: 3vw;
    border: none;
    outline: none;
    color: var(--darkGray2);
    transition: 0.1s box-shadow linear;
}

.ulList li button:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 4px 1px var(--darkGray3);
}

.ulList li button:active{
    box-shadow: inset 0px 0px 5px 2px var(--darkGray3);
}

.ulList .addElement p{
    text-align: center;
    color: var(--lightGray2) !important;
}

.ulList .addElement a{
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: var(--lightGray1);
    text-align: center;
    font-size: 2.5em;
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}

.ulList .leftCircle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--circleSize);
    height: var(--circleSize);
    margin-left: calc(var(--circleSize) * 0.4 * (-1));
    border-radius: 50%;
    overflow: hidden;
    font-size: var(--circleSize);
    color: var(--lightGray2);
    box-shadow: 0px 0px 2px var(--darkGray3);
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, 
        font-size 0.1s ease-in-out, margin 0.1s ease-in-out;
}

.ulList .profileList:hover .leftCircle{
    width: calc(var(--circleSize) + 10px);
    height: calc(var(--circleSize) + 10px);
    margin-left: calc((var(--circleSize) + 10px) / 2 * (-1));
}

.ulList .leftCircle i{
    align-self: center !important;
    font-size: calc(var(--circleSize) * 0.6);
}

.ulList .clickableItem:hover{cursor: pointer !important;}

.ulList .profileList{
    overflow: visible;
    align-items: center;
    height: 40px;
    margin: 10px 20px;
    padding-left: 0;
    width: 40%;
 }

.ulList .profileList p{
    text-align: center;
}

.blackAndWhite{
    filter: grayscale(100%);
}

.noBlackAndWhiteHover:hover {
    filter: grayscale(0%) !important;
}

/* Striped background for a halfday student*/
.stripedBackground{
    background: repeating-linear-gradient(
        45deg,
        white,
        white 20px,
        var(--accentColor2Light) 20px,
        var(--accentColor2Light) 40px
      ) !important;
      
  }
.stripedBackground p{
    color: white;
    mix-blend-mode: difference;
    filter: brightness(200%);
}

@media screen and (max-width: 1200px){
    .ulList li button{width:9vw;}

    .ulList .profileList{
        width: 80%;
        margin-right: -15px;
        margin-bottom: 25px;
    }

    .ulList li{ height: 90px !important;}

    .ulList li p{
        font-size: 40px !important;
    }

    .ulList li i{
        font-size: 30px;
    }

    .ulList .leftCircle{
        width: calc(var(--circleSize) * 2);
        height: calc(var(--circleSize) * 2);
        margin-left: calc(var(--circleSize)* (-1));
    }

    .ulList .profileList:hover .leftCircle{
        width: calc(var(--circleSize) * 2 + 20px);
        height: calc(var(--circleSize) * 2 + 20px);
        margin-left: calc((var(--circleSize) + 10px) * (-1));
    }
}