<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <a class="adminButton" id="addStu">Add student</a>
        <a class="adminButton" id="addAct">Add activity</a>
    </div>
    <div class="mainBlock">
        <form id="newStudent" style="visibility:hidden">
          <div class="input">
            <input type="text" id="newStudentName" placeholder="Student name">
            <input type="text" id="newStudentContact" placeholder="Primary contact name">
            <input type="text" id="newStudentEmail" placeholder="Primary contact email">
          </div>
          <a class="adminButton" id="newStudentSubmit">Submit </a><label id="stuStatus" style="visibility:hidden"></label>
        </form>
        <form id="newActivity" style="visibility:hidden">
          <div class="input">
            <input type="text" id="newActivityName" placeholder="Activity name">
          </div>
          <a class="adminButton" id="newActivitySubmit">Submit </a><label id="actStatus" style="visibility:hidden"></label>
      </form>
    </div>
  </body>
  <script src="/javascripts/adminScripts.js"></script>
</html>
