<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin-styling.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/accordian.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/student-form.css' />
    
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="accordion">
      <h3 class="accordion">Students</h3>
        <div class="accordionPanel">
            <% if (students.length > 0) {%>
              <%- include listOfStudents.ejs %>
                  <li class="addStudent">
                    <div class="blockContainer">
                      <table>
                        <th>
                          <div>
                              <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                          </div>
                        </th>
                        <tr>
                          <td>a<br />
                          a</td>
                        </tr>
                      </table>
                      <div onclick="addStudent()" class="addStudentOverlay">
                        <a class="plusIcon" title="Create Student">&#43;</a>
                      </div>
                    </div>
                  </li>
                </ul>
        
              <div id="newStudentForm" class="studentForm">
                <!-- newStudentForm content -->
                <div class="studentForm-content">
                  <span class="close">&times;</span>
                  <ul>
                    <li class="formTitle">Add a Student</li>
                    <li><input type="text" id="newStudentName" placeholder="Student Name"></li>
                    <li><input type="text" id="newStudentContact" placeholder="Guardian Name"></li>
                    <li><input type="text" id="newStudentEmail" placeholder="Guardian Email"></li>
                    <li><input type="text" id="newStudentContactNumber" placeholder="Guardian's Phone Number"></li>
                    <li><input type="text" id="newStudentBirthday" placeholder="Birthday YYYY/MM/DD"></li>
                    <ul id="newStudentWeek" class="week">
                      <li><p id="sun" value=0 onclick="updateDayVal('sun')">S</p></li>
                      <li><p id="mon" value=0 onclick="updateDayVal('mon')">M</p></li>
                      <li><p id="tue" value=0 onclick="updateDayVal('tue')">T</p></li>
                      <li><p id="wed" value=0 onclick="updateDayVal('wed')">W</p></li>
                      <li><p id="thu" value=0 onclick="updateDayVal('thu')">T</p></li>
                      <li><p id="fri" value=0 onclick="updateDayVal('fri')">F</p></li>
                      <li><p id="sat" value=0 onclick="updateDayVal('sat')">S</p></li>
                      
                    </ul>
                    <li style="text-align: center;"><a id="newStudentSubmit" onclick="callPostStu()">Create</a></li>
                  </ul>
                </div>
            <% } else { %>
              <h2>No students</h2>
            <% } %>
          </div>
        </div>
      
      <h3 class="accordion">Activities</h3>
        <div class="accordionPanel">
          <% if (activities.length > 0) {%>
            <%- include listOfActivities.ejs %>
            <li class="addActivity">
              <div class="blockContainer">
                <p title="Create Student" onclick="addActivity()">New Activity +</p>
              </div>
            </li>
          </ul>
          <% } else { %>
            <h2>No activities</h2>
          <% } %>
        </div>
      
      <h3 class="accordion">Tasks</h3>
        <div class="accordionPanel">
          <p>Lorem ipsum...</p>
        </div>
  </div>
    

    
  </body>
  <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true,
        active: false
      });
    } );
  </script>
  <script>
    // Get the modal
    var formElement = document.getElementById("newStudentForm");

    // opens student profile in same tab when a student is clicked
    function selectedStudent(element, studentID){
      window.location.href ="/admin/student-profile/" + studentID;
    }

    document.getElementById("students").style.display = "block";
    // Get the <span> element that closes the modal
    var closeButton = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    function addStudent() {
      formElement.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    closeButton.onclick = function() {
      formElement.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == formElement) {
        formElement.style.display = "none";
      }
    }

    document.getElementById("studentsTab").style.display = "block";
    document.getElementById("studentsTabButton").className += " active";
    function initDaySel(){
      updateDayVal("sun");
      updateDayVal("mon");
      updateDayVal("tue");
      updateDayVal("wed");
      updateDayVal("thu");
      updateDayVal("fri");
      updateDayVal("sat");
    }
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabContent");
      console.log(tabcontent);
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    function updateDayVal(day){
      if(day == "sun"){
        selected = document.getElementById("sun");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "mon"){
        selected = document.getElementById("mon");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "tue"){
        selected = document.getElementById("tue");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "wed"){
        selected = document.getElementById("wed");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "thu"){
        selected = document.getElementById("thu");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "fri"){
        selected = document.getElementById("fri");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
      else if(day == "sat"){
        selected = document.getElementById("sat");
        if(selected.value == 0){
          selected.value = 1;
        }
        else{
          selected.value = 0;
        }
      }
    }
    //generate perameters for post and call post
    function callPostStu(){

      var theUrl = window.location.href+'/addstudent';
      var data = 
      "name=" + document.getElementById("newStudentName").value + 
      "&contact=" + document.getElementById("newStudentContact").value + 
      "&email=" + document.getElementById("newStudentEmail").value + 
      "&contactNum=" + document.getElementById("newStudentContactNumber").value + 
      "&contact2=" + "" + 
      "&email2=" + "" + 
      "&contactNum2=" + "" + 
      "&birthday=" + document.getElementById("newStudentBirthday").value + 
      "&sun=" + document.getElementById("sun").value + 
      "&mon=" + document.getElementById("mon").value + 
      "&tue=" + document.getElementById("tue").value + 
      "&wed=" + document.getElementById("wed").value + 
      "&thu=" + document.getElementById("thu").value + 
      "&fri=" + document.getElementById("fri").value + 
      "&sat=" + document.getElementById("sat").value + 
      "&fullDay=" + 1 + 
      "&enroll=" + 1 ;
      var callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }
    function callPostAct(){

      theUrl = window.location.href+'/addactivity';
      data = "name=" + document.getElementById("newActivityName").value;
      callback = reloadIt;

      httpPostAsync(theUrl, data, callback);
    }
  </script>
  <script>initDaySel();</script>
</html>
