<!DOCTYPE html>
<html>
  <head>
    <nav><%- include header.ejs %></nav>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/students-admin.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/tabs.css' />
    <link rel='stylesheet' href='/stylesheets/student-form.css' />
  </head>
  <body>

    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'studentsTab')">Students</button>
      <button class="tablinks" onclick="openTab(event, 'activitiesTab')">Activities</button>
    </div>

    <div id="studentsTab" class="tabContent">
      <% if (students.length > 0) {%>
        <%- include listOfStudents.ejs %>
            <li class="addStudent">
              <div class="studentContainer">
                <table>
                  <th>
                    <div>
                        <img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png">
                    </div>
                  </th>
                <tr>
                    <td>a<br />
                    a</td>
                </tr>
                </table>
                <div onclick="addStudent()" class="addStudentOverlay">
                  <a  class="plusIcon" title="Create Student">&#43;</a>
                </div>
              </div>
            </li>
          </ul>
  
        <div id="newStudentForm" class="studentForm">
          <!-- newStudentForm content -->
          <div class="studentForm-content">
            <span class="close">&times;</span>
            <ul>
              <li class="formTitle">Add a Student</li>
              <li><input type="text" id="newStudentName" placeholder="Student Name"></li>
              <li><input type="text" id="newStudentContact" placeholder="Guardian Name"></li>
              <li><input type="text" id="newStudentEmail" placeholder="Guardian Email"></li>
              <li style="text-align: center;"><a id="newStudentSubmit">Create</a></li>
            </ul>
          </div>
        </div>
      <% } else { %>
        <h2>No students</h2>
      <% } %>
    </div>

    <div id="activitiesTab" class="tabContent">
      <% if (activities.length > 0) {%>
        <%- include listOfActivities.ejs %>
        <li class="addStudent">
          <div class="studentContainer">
            <div onclick="addStudent()" class="addStudentOverlay">
              <a  class="plusIcon" title="Create Student">&#43;</a>
            </div>
          </div>
        </li>
      </ul>
      <% } else { %>
        <h2>No activities</h2>
      <% } %>
    </div>
  </body>
  <script src="/javascripts/adminScripts.js"></script>
  <script>
    // Get the modal
    var formElement = document.getElementById("newStudentForm");

    // opens student profile in same tab when a student is clicked
    function selectedStudent(element, studentID){
      window.open("/admin/profile/" + studentID,"_self");
    }

    document.getElementById("students").style.display = "block";
    // Get the <span> element that closes the modal
    var closeButton = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    function addStudent() {
      formElement.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    closeButton.onclick = function() {
      formElement.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == formElement) {
        formElement.style.display = "none";
      }
    }

    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabContent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</html>
