<!DOCTYPE html>
<html lang="en">

<body>
    <h1>CNP Daily Email</h1>
    <h2>Summary</h2>
        <%- summary %>
    <h2>Snack</h2>
        <%- snack %>
    <h2>Lunch</h2>
        <%- lunch %>

    <h2>PERSONALIZED SECTION</h2>
    <!-- behavior title 1: all/none - note -->
    <p style="padding: 10px 20px; background: #DDD; color: white; width: 100%;">Behaviors</p>
    <ul style="outline: none; list-style-type: none; display: flex; flex-wrap: wrap; justify-content; space-between;">
        <li style="display: flex; justify-content: space-between;">
            <p>Behavior 1</p>
            <p>Value</p>
        </li>
    </ul>
    <h3>PERSONALIZED NOTE</h3>
</body>
</html>
