<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>CNP Daily Email</h1>
    <h2>Summary</h2>
        <%- summary %>
    <h2>Snack</h2>
        <%- snack %>
    <h2>Lunch</h2>
        <%- lunch %>
</body>
</html>
