<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <script src="/javascripts/post.js"></script>
  </head>
   <body>
      <ul class="headerStyle">
         <li><a href="/">Home</a></li>
         <li><a href="/students">Tracker</a></li>
         <li><a href="/reports">Reports</a></li>
         <li><a href="/admin">Admin</a></li>
         <li><a href="/tasks">Stats</a></li>
      </ul>

      <div onclick="openNav()" id="mobileHeader" class="mobileHeader">
        <a id="hamburger" href="javascript:void(0);" class="icon" onclick="">
          <i class="fa fa-bars"></i>
        </a>
        <div id="links" class="links">
          <a href="/">Home</a>
          <a href="/students">Tracker</a>
          <a href="/reports">Reports</a>
          <a href="/admin">Admin</a>
          <a href="/stats">Stats</a>
        </div>
        
      </div>
  </body>
    <script>
      let current_url = document.location;
      var aTags = document.getElementsByTagName("a");
      var links = document.getElementById("links");
      links.style.display = "none";
      for(var i = 0; i < aTags.length; i++){
        if(aTags[i].href == current_url){
          aTags[i].classList += " currentPage";
        }
      }

      function openNav(){
        if(mobileHeaderHidden()){ 
          showMobileHeader();
        }
        else{
          hideMobileHeader();
        }
      }

      // returns true if mobile header is hidden
      function mobileHeaderHidden(){
        return (links.style.display === "none");
      }

      function showMobileHeader(){
        $('body > :not(#mobileHeader)').slideUp("fast"); //hide all nodes directly under the body
          
          setTimeout(function(){
            $("#links").slideDown("fast");
            links.style.display = "flex";
            $('#mobileHeader').appendTo('body');
          }, 200);
      }

      function hideMobileHeader(){
        $('#mobileHeader').prependTo('body');
        
        $("#links").slideUp("fast");
        links.style.display == "none";
        setTimeout(function(){
          $('body > :not(#mobileHeader)').slideDown("fast"); //hide all nodes directly under the body
        }, 200);
      }

      
  </script>
</html>