<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <script src="/javascripts/post.js"></script>
  </head>
   <body>
   <nav>
      <ul class="headerStyle">
         <li><a href="/">Home</a></li>
         <li><a href="/students">Students</a></li>
         <li><a href="/Email">Email</a></li>
         <li><a href="/admin">Admin</a></li>
         <li><a href="/tasks">Tasks</a></li>
      </ul>
   </nav>
  </body>
    <script>
      let current_url = document.location;
      var aTags = document.getElementsByTagName("a");
      for(var i = 0; i < aTags.length; i++){
        if(aTags[i].href == current_url){
          aTags[i].style.display = "none";
        }
      }
  </script>
</html>