<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <script src="/javascripts/post.js"></script>
  </head>
   <body>
      <ul class="headerStyle">
         <li><a href="/">Home</a></li>
         <li><a href="/tracker">Tracker</a></li>
         <li><a href="/reports">Reports</a></li>
         <li><a href="/admin">Admin</a></li>
         <li><a href="/stats">Stats</a></li>
         <li><a href="/emailer">Email</a></li>
         <li><a href="/tasks">Tasks</a></li>
      </ul>
      <div id="logout" class="logout">
        <form action="/logout?_method=DELETE" method="POST">
          <button class="flex customButton red4-BG" type="submit">Logout <i class="fas fa-sign-out-alt marginLeft10"></i></button>
        </form>
      </div>
      

      <div onclick="openNav()" id="mobileHeader" class="mobileHeader">
        <a id="hamburger" href="javascript:void(0);" class="icon" onclick="">
          <i class="fa fa-bars"></i>
        </a>
        <div id="links" class="links">
          <a href="/">Home</a>
          <a href="/tracker">Tracker</a>
          <a href="/reports">Reports</a>
          <a href="/admin">Admin</a>
          <a href="/stats">Stats</a>
          <a href="/emailer">Email</a>
          <a href="/tasks">Tasks</a>
          <a>
            <form action="/logout?_method=DELETE" method="POST">
              <button class="resetButton smallFont lightText" type="submit">Logout</button>
            </form>
          </a>
        </div>
        
      </div>
  </body>
    <script>
      let current_url = document.location;
      var aTags = document.getElementsByTagName("a");
      var links = document.getElementById("links");
      links.style.display = "none";
      for(var i = 0; i < aTags.length; i++){
        if(aTags[i].href == current_url){
          aTags[i].classList += " currentPage";
        }
      }

      function openNav(){
        if(mobileHeaderHidden()){ 
          showMobileHeader();
        }
        else{
          hideMobileHeader();
        }
      }

      // returns true if mobile header is hidden
      function mobileHeaderHidden(){
        return (links.style.display === "none");
      }

      function showMobileHeader(){
        $("#links").slideDown("fast");
        links.style.display = "flex";
      }

      function hideMobileHeader(){

        $("#links").slideUp("fast");
        links.style.display == "none";
        
      }

      
  </script>
</html>