<!DOCTYPE html>
<html>
   <body>
    <div id="sideHeader" class="side-header-wrapper">
      <div class="side-header">
        <div id="links" class="side-header-top width100">
          <a class="side-header-link" href="/">Home</a>
          <a class="side-header-link" href="/tracker">Tracker</a>
          <a class="side-header-link" href="/reports">Reports</a>
          <a class="side-header-link" href="/admin">Admin</a>
          <a class="side-header-link" href="/stats">Stats</a>
          <a class="side-header-link" href="/emailer">Email</a>
          <a class="side-header-link" href="/tasks">Tasks</a>
        </div>

        <div class="side-header-bottom">
          <form action="/logout?_method=DELETE" method="POST">
            <button class="side-header-link resetButton width100 leftText noBorder" href="/logout?_method=DELETE" type="submit"><i class="rotate180 fas fa-sign-out-alt marginRight10"></i> Logout</button>
          </form>
        </div>
      </div>
    </div>
  </body>
    <script>
      let current_url = document.location;
      var aTags = document.getElementsByTagName("a");
      var links = document.getElementById("links");
      for(var i = 0; i < aTags.length; i++){
        if(aTags[i].href == current_url){
          aTags[i].classList.add("active");
        }
      }

      function openNav(){
        if(mobileHeaderHidden()){ 
          showMobileHeader();
        }
        else{
          hideMobileHeader();
        }
      }

      // returns true if mobile header is hidden
      function mobileHeaderHidden(){
        return (links.style.display === "none");
      }

      function showMobileHeader(){
        $("#links").slideDown("fast");
        links.style.display = "flex";
      }

      function hideMobileHeader(){

        $("#links").slideUp("fast");
        links.style.display == "none";
        
      }

      
  </script>
</html>