<!DOCTYPE html>
<html>
   <link rel='stylesheet' href='/stylesheets/header.css' />
<body>
   <nav>
      <ul class="headerStyle">
         <li><a href="/">Home</a></li>
         <li><a href="/students">Students</a></li>
         <li><a href="/activities">Activities</a></li>
         <li><a href="/admin">Admin</a></li>
      </ul>
   </nav>
  </body>
    <script>
      let current_url = document.location;
      var aTags = document.getElementsByTagName("a");
      for(var i = 0; i < aTags.length; i++){
        if(aTags[i].href == current_url){
          aTags[i].classList += "currentPage";
        }
      }
  </script>
</html>