<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body> 
    <div class="buttonAreaGrid">
      <a href="/students" class="homeButton studentButton">Students</a>
      <a href="/email" class="homeButton emailButton">Email</a>
      <a href="/admin" class="homeButton adminButton">Admin</a>
      <a href="/tasks" class="homeButton tasksButton">Tasks</a>
    </div>
  </body>
</html>
