<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <h1 style="text-align:center">Creative Nature Playschool</h1>
  </head>
  <body>
  <button type = "button1" style = "height: 300px; width: 300px" > Students </button>
  <button type = "button2" style = "height: 300px; width: 300px" > Activities </button>
  <br>
  <button type = "button3" style = "height: 300px; width: 300px" > Email </button>
  <button type = "button4" style = "height: 300px; width: 300px" > Admin </button>
    
  </body>
</html>
