<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body> 
    <ul class="buttonAreaGrid">
      <li class="homeButton accent1Light-BG"><a href="/tracker">Track <br />Activity</a></li>
      <li class="homeButton accent2Light-BG"><a href="/reports">Daily <br />Report</a></li>
      <li class="homeButton accent3Light-BG"><a href="/emailer">Emailer</a></li>
      <li class="homeButton accent2Light-BG"><a href="/admin">Admin</a></li>
      <li class="homeButton accent3Light-BG"><a href="/stats">Stats</a></li>
      <li class="homeButton accent1Light-BG"><a href="/tasks">Tasks</a></li>
      <li class="homeButton accent4Light-BG hiddenMobile"><a href="/tasks">Logout</a></li>
      <div id="logout" class="logout">
        <form action="/logout?_method=DELETE" method="POST">
          <button class="flex customButton red4-BG" type="submit">Logout <i class="fas fa-sign-out-alt marginLeft10"></i></button>
        </form>
      </div>
    </ul>
  </body>
</html>
