<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body> 
    <div class="buttonAreaGrid">
      <a href="/students" class="mainButtonStyle button1">Students</a>
      <a href="/activities" class="mainButtonStyle button2">Activities</a>
      <a href="" class="mainButtonStyle button3">Email</a>
      <a href="/admin" class="mainButtonStyle button4">Admin</a>
    </div>
  </body>
</html>
