<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%= title %></title> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <script>
      function httpGetAsync(theUrl, callback)
      {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() { 
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
          {
              console.log(xmlHttp);
              callback(xmlHttp.responseText);
          }
        }
        xmlHttp.open("GET", theUrl, true); // true for asynchronous 
        xmlHttp.send(null);
      }
      httpGetAsync(window.location.href+"myvar",reportData);
      function reportData(datum)
      {
        console.log(datum);
        document.getElementById('test').innerHTML = datum;
      }
    </script>
    <h1 style="text-align:center">Creative Nature Playschool</h1>
  </head>
  <body>
  <div id = "bt">
    <div class = "bt-students">
      <button type = "button" class = "button"> Students </button>
    </div>
    <div class = "bt-act">
      <button type = "button" class = "button"> Activities </button>
    </div>
    <br>
    <div class = "bt-email">
      <button type = "button" class = "button" > Email </button>
    </div>
    <div class = "bt-admin">
      <button type = "button" class = "button" > Admin </button>
    </div>
  </div>
  <br/>
  <label id='test' >predb</label>
  </body>
</html>
