<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body> 
    <ul class="buttonAreaGrid">
      <li class="homeButton studentButton"><a href="/students">Track <br />Activity</a></li>
      <li class="homeButton emailButton"><a href="/reports">Daily <br />Report</a></li>
      <li class="homeButton adminButton"><a href="/admin">Admin</a></li>
<<<<<<< HEAD
      <li class="homeButton tasksButton"><a href="/emailer">Emailer</a></li>
=======
      <li class="homeButton tasksButton"><a href="/stats">Stats</a></li>
>>>>>>> c71a123f920a621ee3275f3f1dfdf78b71f645c4
    </ul>
  </body>
</html>
