<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/students.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/reportScripts.js"></script>
  </head>
  <body>
    <a id="test"><%= reports %></a>
    <% if(reports.length > 0) {%>
      <% reports.forEach((report, index) => {%>
        <table>
          <thead>
          </thead>
          <tbody>
            <% report.listOfActivities.forEach((activity, index) => {%>
              <tr><%= activity %></tr>
            <% }) %>
            <tr></tr>
          </tbody>
        </table>
      <% }) %>
    <% } else {%>
      <h2>no reports</h2>
    <% } %>
  </body>
  </html>