<!DOCTYPE html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
</head>
    <body>
        <div class="flex flexCenter veryHeavyPadding">
            <div class="width30 width90Mobile veryHeavyPadding white-BG flex flexColumn flexAlignCenter borderRadiusSmall shadowSmall">
                <h1 class="marginBottom40 dark-text">Reset Password</h1>
                <% if (messages.error) { %>
                    <%= messages.error %>
                <% } %>
                <form class="marginBottom10" action="/admin/reset-password" method="POST">
                    <div class="width100 marginBottom10 flex spaceBetween light-content-BG flexAlignCenter borderRadiusSmall">
                        <i class="fas fa-envelope marginLeft10 mediumFont"></i>
                        <input class="blankInput" type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="width100 marginBottom20 flex spaceBetween light-content-BG flexAlignCenter borderRadiusSmall">
                        <i class="fas fa-key marginLeft10 mediumFont"></i>
                        <input class="blankInput" type="password" id="password" name="password" placeholder="New password" required>
                    </div>
                    <div class="flex flexCenter">
                        <button class="customButton width70 mediumFont theme-color1-BG" type="submit">Reset</button>
                    </div>
                </form>
                <a class="smallFont dark-text" href="/login">Login</a>
            </div>
            
        </div>
        
    </body>
</html>