<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/blockList.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/studentSelection.js"></script>
  </head>
  <body>
    <ul id="selectionButtons" class="selectionButtons">
        <li><a id="studentButton" onclick="startWithStudents()">Select Students</a></li>
        <li><a id="activitiesButton" onclick="startWithActivities()">Select Activity</a></li>
    </ul>
      
    <% if (students.length > 0) {%>
        <%- include listOfStudents.ejs %>
    </ul>
    <% } else { %>
        <h2>No students</h2>
    <% } %>

    <% if (activities.length > 0) {%>
        <%- include listOfActivities.ejs %>
    </ul>
    <% } else { %>
        <h2>No activities</h2>
    <% } %>
    <footer>
        <ul id="footer" class="studentFooter">
            <li id="select"><a id="selectButton" onclick="selectionMade()">Select</a></li>
            <li id="submitButton" class="backSubmitButton">
                <a id="backButton" onclick="goBack()">Back</a>
                <a onclick="submitToDB()">Submit</a>
            </li>
        </ul>
    </footer>
  </body>
</html>
