<!DOCTYPE html>
<html>
  <nav><%- include header.ejs %></nav>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/studentsList.css' />
  </head>
  <body>
        <% if (students.length > 0) {%>
            <ul class="studentsList">
                <% students.forEach((student, index) => { %>
                <li onclick="selectedStudent(this)"><table>
                    <th><img src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-12-512.png"></th>
                    <tr>
                        <td><%= student.StudentName %></td>
                    </tr>
                </table></li>
                <% }) %>
            </ul>
        
    <% } else { %>
        <h2>no students</h2>
    <% } %>
  </body>
  <script>
      var numSelectedStudents = 0; // for use in footer later
      // will be able to get all elements with "selectedStudent"
      // class to add to some list of students
      function selectedStudent(element){
          if(element.classList.contains("selectedStudent")){
              element.classList.remove("selectedStudent");
              numSelectedStudents--;
          }
          else {
              element.classList += " selectedStudent";
              numSelectedStudents++;
          }
        
      }
  </script>
</html>
